*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.box1 {
    font-size:2vh ;
    float: left;
    width: 25vh;
    height: auto;
    line-height: 3vh;
    position: absolute;
    background-color: rgb(146, 146, 146);
    margin-right: 30px   ;
    margin-left: 25px;
    left: 0vh;
    top: 0vh;

}
.box2{

    font-size: 20px;
    float: right;
    width: 85%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    padding: 10px;
    box-shadow: 5px 5px 25px black;
}
li{
    display: flex;
    list-style: none;
        
    justify-content: center;
    margin: 5px;
}